################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TUIO Folder/TUIO11_NET/.vs/TUIO_CSHARP/FileContentIndex
*.cache
